@import "tailwindcss";


main{
    width: 1200px;
    min-height: 90vh;
    margin: 0px auto;
    padding: 10px;
}

*{
    scrollbar-width: none;
}

header{
    padding: 30px;
}

.mode{
    color: white;
    cursor: pointer;
}

.header-dark{
    background-color: black;
    color: white;
}

.header-light{
    background-color: white;
    color: black;
}