 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}

.container{
    max-width: 1270px;
    margin: 0px auto;
}
a{
    text-decoration: none;
    color: #0F0F0F;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
nav{
    display: flex;
    gap: 20px;
    align-items: center;
}
.button{
    background-color: white;
    color: #08B0A2;
    border-radius: 15px;
    border-style: solid;
    border-color: #08B0A2;
    padding: 20px;
}
.br{
    display: block;
}
.banner-wrapper >div{
    width: 50%;
}
.banner-wrapper>div:first-child{
    margin-top: 30px;
}
.banner-wrapper{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.banner-wrapper>div:first-child h2{
    color: #0F0F0F;
    font-size: 35px;
    margin-left: 20px;
    margin-top: 30px;
}
.banner-wrapper>div:first-child p{
    color: #0F0F0F;
    margin: 30px 0px;
    margin-left: 20px;
}

.application-wrapper >div:first-child h4{
        color: #0F0F0F;
        font-size: 35px;
}
.application-wrapper>div:first-child tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.application-wrapper>div:nth-child(2) h5{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    font-size: 22px;
    background-color: #08B0A2;
    color: white;
    padding: 30px;
    border-radius: 30px;
}
.application-wrapper{
    display: flex;
}


.application-wrapper>div:nth-child(2) th{
    
    background-color: #E9F8F7;
    color: #08B0A2;
    padding: 25px;
    margin: 5px 20px;
    border-radius: 20px;
}
.col-tag{
    background-color: #08B0A2;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.application-wrapper>div:nth-child(2) tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}