*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1440px;
    margin: 0px auto;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.header-wrapper nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-wrapper img{
    display: flex;
    align-items: center;
}

.sign-btn{
    background-color: white;
    color: black;
    border-radius: 15px;
    border-style: solid;
    padding: 10px 20px;
    border-color: black;
    font-weight: bold;
}

.createacc-btn{
    background-color: #651FFF;
    color: white;
    border-radius: 15px;
    border-style: solid;
    padding: 10px 20px;
    font-weight: bold;
}

.text-break{
    display: block;
}

.banner-wrapper{
    padding: 100px 0px;
    text-align: center;
    background-color: #EBE5FA;
}

.banner-wrapper h1{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 30px;
}

.banner-wrapper p{
    color: #5C5F6E;
    margin-bottom: 30px;
}

.banner-wrapper nav{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.banner-wrapper-2{
    padding: 100px ;
}

.content-wrapper{
    text-align: center;
    padding: 30px;
}

.content .container{
    text-align: center;
}

.content .container h2{
    font-weight: bold;
    font-size: 46px;
}

.content .container p{
    color: #5C5F6E;
    margin-top: 20px;
}

.content-wrapper{
    text-align: start;
    align-items: center;
}

.content-wrapper>div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
            color: white;


}

.content-wrapper>div>div{
    background-color: #651FFF;
    color: white;
    padding: 30px;
    border-radius: 15PX;
}

.content-wrapper>div>div p{
    color: white;
}
.content2{
    padding: 100px;
    margin-bottom: 0px;
}
.content2 .container h2{
    font-size: 56px;
    font-weight: bold;

}

.content2-wrapper{
    display: flex;
    padding: 100px;
    justify-content: center;
    gap: 30px;
    text-align: center;
    margin-bottom: 0px;
}

.content2-wrapper h4{
    color: #651FFF;
    font-size: 42px;
    margin: 20px 0px;
}

.content2-wrapper p{
    color: #5C5F6E;
    margin-bottom: 20px;
}

.content2-wrapper > div{
    width: 50%;
}

.content2-wrapper > div:first-child{
    background-color: #FFF7ED;
    border-radius: 20px;
}

.content2-wrapper >div:last-child{
    background-color: #E0F7FA;
    border-radius: 20px;
}

.number2-wrapper{
    display: flex;
    padding: 0px 100px;
    background-color: #ECECFE;
    border-radius: 20px;
    margin-top: 0px;
}

.number2-wrapper>div{
    width: 50%;
}

.number2-wrapper h4{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px;
}

.number2-wrapper p{
    color: #5C5F6E;
    margin-bottom: 30px;
}

.number2-wrapper nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

.storage .container h2{
    font-size: 42px;
    font-weight: bold;
}

.storage .container p{
    color: #5C5F6E;
    margin-top: 30px;
}

.storage .container .storage-wrapper nav img{
    margin-bottom: 20px;
}

.storage .container .storage-wrapper nav a{
font-weight: bold;
margin-top: 30px;
}

.storage .container .storage-wrapper nav{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.storage-wrapper{
    display: flex;
    padding: 100px;
}

.storage-wrapper >div>div{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
}

.fair-price .container h2{
    font-weight: bold;
    font-size: 64px;
}

.fair-price .container p{
    font-weight: bold;
    /* color: white; */
    color: black;
}

.fair-price .container {
    text-align: center;
}

.fair-price-wrapper>div p{
    color: #5C5F6E;
}

.fair-price-wrapper>div h2{
    font-weight: bold;
    font-size: 64px;
}

.fair-price-wrapper>div h4{
    margin: 30px 0px;
}

.fair-price-wrapper>div p{
    margin-bottom: 30px;
    color: #5C5F6E;
}

.fair-price-wrapper>div {
    text-align: center;
    
}

#per{
    font-size: 20px;
    color: #0B0D0E;
    margin-bottom: 25px;
    margin-top: 0px;
}

#spa{
    color: #5C5F6E;
    font-size: 16px;
    margin-bottom: 20px;
}

#btn{
    display: inline-block;
    margin: 30px 0px;
}
#btn-2{
    display: inline-block;
    margin-bottom: 20px;
}

.fair-price-wrapper{
    display: flex;
    justify-content: center;
    padding: 100px;
}

.fair-price-wrapper>div:nth-child(2){
    background-color: #651FFF;
    color: #ECECFE;
    padding:  100px 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 490px ;
}

footer{
    background-color: #1A284E;
    color: white;
}

.footer-wrapper h4{
    margin: 30px 0px;
}

.footer-wrapper p{
    margin-bottom: 30px;
}

.footer-wrapper{
    display: flex;
    padding: 30px;
    align-items: start;
    gap: 20px;
    
}

.footer-wrapper>div:nth-child(1){
    width: 30%;
}
.footer-wrapper>div:nth-child(2){
    width: 70%;
}

.footer-wrapper>div:nth-child(2) th,
.footer-wrapper>div:nth-child(2) td{
    margin-top: 30px;
}

.footer-wrapper>div:nth-child(2) tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}

.footer-wrapper>div:nth-child(2) table{
    text-align: start;
    
}