nav{
    background-color: black;
    color: white;
    padding: 25px;
}

a:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

ul,li{
    display: inline;
}

ul{
    margin: 42%
}


li:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 1s;
    padding: 10px;  
}

.box-1{
    border: 3px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    width: 220px;
    margin: 15px;
    text-align: center ;
}

.products{
    text-align: center;
}

.product-button{
    background-color: black;
    color: white;
    padding: 10px;
}

.product-button:hover{
    background-color: white;
    color: black;
    transition: all 0.5s;
    padding: 12px;
}

footer{
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
    margin-top: 10px;
}

table{
    margin-left: 40%;
}

button{
    padding: 10px;
    background-color: yellow;
    color: black;
    transition: all 1s;
}

#id{
    text-align: center;
    width: 100px;
}
