*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

.text-break{
    display: block;
    font-weight: bold;
}

.txt-break{
    display: block;
}

.container{
    max-width: 1150px;
    margin: 0px auto;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper{
    padding: 20px;
}

.header-wrapper h3{
    font-size: 22px;
}

.order-wrapper{
    padding: 100px 0px;
}

.order .container h1{
    font-size: 22px;
}

#delivery-date{
    font-size: 19px;
    color: #007600;
}

.order-wrapper > div > div:nth-child(1){
    width: 60%;
}

.order-wrapper > div > div:nth-child(2){
    width: 40%;
}

.order-wrapper > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-in-cart > div{
    display: flex;
    gap: 15px;
}

.products-in-cart h3{
    font-size: 16px;
}

.products-in-cart h4{
    color: #B12705;
    margin: 10px 0px;
}

#product-quantity{
    display: inline-flex;
}

.products-in-cart a{
    color: rgb(4, 184, 244);
}

.products-in-cart a:hover{
    color: #C45000;
}

.delivery-option >div{
    margin: 10px 0px;
}

.delivery-option p{
    color: #787878;
}

.order-summary{
    padding: 30px;
}

.order-summary h2{
    font-size: 22px;
    margin: 10px 0px;
}

.order-summary span{
    text-align: right;
    font-weight: 600;
}

#order-total {
    font-size: 18px;
    font-weight:bold;
    margin: 20px 0px;
}

.products-in-cart > div{
    border: 1px solid rgb(222, 222, 222);
    border-radius: 4px;
    padding: 18px;
}

.order-wrapper >div >div:nth-child(2){
    border: 1px solid rgb(222, 222, 222);
    border-radius: 4px;
    padding: 18px;
}

#order-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #FFD812;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
}

#order-btn:hover{
    background-color:#F7CA00;
}